html, body {
  margin: 0;
  padding: 0;
  
}

body {
  font-family: 'Sintony', sans-serif !important;
}

.App {
  position: relative;
  min-height: 100vh;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */

@media only screen and (max-width : 770px){
  .home-button{
    font-size: 1.5vh;
  }
  .roster-button{
    font-size: 1.8vh;
  }
  .table-style{
    font-size: 1.4vh;
  }
  .player-style{
    font-size: 2.6vh;
  }
  .nav-font{
    font-size: 1.3vh;
  }
}
